/* RESET */

html{
    font-size: 100%;
    min-width: 1180px;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem; /* 12px */
}

.container{
    width: 70%; 
    margin: 0 auto;
    border: 1px solid red;
    max-width: 65rem;
}

.lrg-container{
    width: 85%;
    margin: 0 auto;
    border: 1px solid red;
    max-width: 73.75rem;
}

/* FLOAT ELEMENT */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.floats-left{
    float: left;
}

.floats-right{
    float: right;
}

/* POSITIONS */

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

/* FONTS SIZE*/

h1.font-xlrg{
    font-size: 3.75rem;
}

h2.font-lrg{
    font-size: 2rem;
}

h3.font-med{
    font-size: 1.625rem;
}

h4.font-sm{
    font-size: 1rem;
}

p.p-bold{
    font-weight: 700;
}

/* COLORS */

.clr-gry{
    color: grey;
}

/* BUTTONS */

.btn{
    padding: 10px 15px;
    border-radius: 0;
    border: none;
    color: white;
    background-color: #0061ff;
}

.btn-white{
    background-color: white;
    color: black;
}

/* HEADER */

header{
    background-color: #fff;
    line-height: 5;
    padding: 0 15px;
}

header img{
    vertical-align: middle;
}

header nav ul li, header nav{
    display: inline-block;
}

header .nav-left ul li{
    margin-left: 34px;
}

header .nav-right ul li{
    margin-right: 34px;
}

header .floats-right button{
    padding: 8px 15px;
}

/* HERO */

section.hero{
    background-color: #b4d0e7;
    margin-bottom: 154px;
    padding: 77px 0;
}

section.hero h1{
    margin-bottom: 37px
}

section.hero p{
    width: 18.375rem;
    margin-bottom: 25px;
}

section.hero button{
    margin-bottom: 10px;
}

section.hero i.fas{
    font-size: 1.875rem;
    margin-top: 24px;
}

section.hero img{
    width: 36.625rem; /* da correggere */
    bottom: -135px;
    right: 0;
}

/* PRICES */

section.prices{
    margin-bottom: 109px;
}

section.prices h2{
    margin-bottom: 48px;
}

section.prices input:last-of-type{
    margin-left: 14px;
}

section.prices .plans .plan{
    float: left;
    width: calc(100% / 3 - 43px);
    height: 60rem;
    margin-top: 1.875rem;
    border: 1px solid grey;
}

section.prices .plans .plan:not(:last-child){
    margin-right: 43px;
}

section.prices .plans .plan .plan-title{
    text-align: center;
    border-bottom: 1px solid grey;
    padding: .375rem 0;
}

section.prices .plans .plan .plan-contents{
    margin-top: 28px;
    padding: 0 23px;
}

section.prices .plans .plan .plan-contents p.p-bold{
    margin-top: 20px;
    margin-bottom: 14px;
}

section.prices .plans .plan .plan-contents .plan-features{
    margin-top: 42px;
}

section.prices .plans .plan .plan-contents .plan-features div:nth-child(2){
    margin: 25px 0;
}

section.prices .plans .plan .plan-contents .plan-cta{
    margin-top: 38px;
}

section.prices .plans .plan .plan-contents .plan-cta .plan-cta-link{
    margin-top: 26px;
    margin-bottom: 22px;
}

section.prices .plans .plan .plan-contents .plan-cta hr{
    width: 15%;
    color: lightgrey;
}

section.prices .plans .plan .plan-contents nav ul{
    list-style: none;
    margin: 0;
}

section.prices .plans .plan .plan-contents nav ul li:not(:last-child){
    margin-bottom: 25px;
}

section.prices .plans .plan .plan-contents nav ul li .fas{
    color: blue;
}

/* CTA */

section.cta{
    margin-bottom: 85px;

}

/* FEATURES */

section.features{
    margin-bottom: 155px;
}

/* REVIEWS */

section.reviews{
    margin-bottom: 97px;
}

/* FAQ */

section.faq{
    margin-bottom: 91px;
}

/* FOOTER */






/* DA ELIMINARE -->*/

header, main, footer{
    width: 100%;
}

main section:nth-child(3){
    height: 371px;
    background-color: rgb(85, 101, 241);
}

main section:nth-child(4){
    height: 860px;
    background-color: rgb(246, 100, 148);
}

main section:nth-child(5){
    height: 764px;
    background-color: rgb(150, 241, 141);
}

main section:nth-child(6){
    height: 428px;
    background-color: rgb(134, 212, 236);
}

footer{
    height: 364px;
    background-color: crimson;
}