/* RESET */

html{
    font-size: 62.5%;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem; /* 11px */
}

.container{
    width: 75%;
    min-width: 1200px; /* per screen desktop */
    max-width: 1600px; /* per screen desktop */
    margin: 0 auto;
    background-color: greenyellow;
    height: 100%;
}

.hero .container, footer .container{
    width: 90%;
    background-color: hotpink;
    height: 100%;
}

/* FONTS SIZE*/

h1.font-xlrg{
    font-size: 4.2rem;
}

h2.font-lrg{
    font-size: 3rem;
}

h3.font-med{
    font-size: 2.6rem;
}

h4.font-sm{
    font-size: 2rem;
}

p.p-bold{
    font-weight: 700;
}

/* BUTTONS */

.btn{
    padding: 10px 15px;
    border-radius: 0;
    border: none;
    color: white;
    background-color: #0061ff;
}

.btn-white{
    background-color: white;
    color: black;
}

/* HEADER */

header{
    background-color: bisque;
    height: 58px;
}

/* HERO */

section.hero{
    margin-bottom: 15.4rem;
}

/* PRICES */

section.prices{
    margin-bottom: 10.9rem;

}

/* CTA */

section.cta{
    margin-bottom: 8.5rem;

}

/* FEATURES */

section.features{
    margin-bottom: 15.5rem;

}

/* REVIEWS */

section.reviews{
    margin-bottom: 9.7rem;
}

/* FAQ */

section.faq{
    margin-bottom: 9.1rem;
}

/* FOOTER */






/* DA ELIMINARE -->*/

header, main, footer{
    width: 100%;
}

main section:nth-child(1){
    height: 544px;
    background-color: darkmagenta;
}

main section:nth-child(2){
    height: 1102px;
    background-color: darkolivegreen;
}

main section:nth-child(3){
    height: 371px;
    background-color: rgb(85, 101, 241);
}

main section:nth-child(4){
    height: 860px;
    background-color: rgb(246, 100, 148);
}

main section:nth-child(5){
    height: 764px;
    background-color: rgb(150, 241, 141);
}

main section:nth-child(6){
    height: 428px;
    background-color: rgb(134, 212, 236);
}

footer{
    height: 364px;
    background-color: crimson;
}